<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Supplier Registration - 1</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="registration.component.css"/>
<!-- <script id="applicationScript" type="text/javascript" src="Supplier_Registration___1.js"></script> -->
</head>
<body>
<div>
	<!-- <svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="152">
		</rect>
	</svg>
	<svg class="Rectangle_16">
		<rect id="Rectangle_16" rx="20" ry="20" x="0" y="0" width="754" height="532">
		</rect>
	</svg> -->
    <img class="logo" src="./assets/Logo/logo.png">
	<div id="Create_your_company_account">
		<span>Create your company account</span>
	</div>
	
	
	<div id="Organisation_Details">
		<span>Organisation Details</span>
	</div>

	<form [formGroup]="Orgsupplier" (ngSubmit)="orgLogin()">
	<div id="Company_Name">
		<span> Company Name </span><br>
		<input type="text"  name="Company Name" required>
		
	</div>
	<div id="CountryRegion">
		<span>Country/Region</span><br>
		<input type="text" class="form-control" name="CountryRegion" required>
	</div>
	<div id="Address_Line_1">
		<span>Address Line 1</span>,<br>
		<input type="text" class="form-control" name="adress1" required>
	</div>
	<div id="Address_Line_2_">
		<span>Address Line 2</span><br/>
		<input type="text" class="form-control" name="adress2" required>
	</div>
	<div id="City">
		<span>City</span><br>
		<input type="text" class="form-control" name="City" required>
		
	</div>
	<div id="State">
		<span>State</span><br>
		<input type="text"class="form-control"  name="State" required>
	</div>
	<div id="ZIPPostal_Code">
		<span>ZIP/Postal Code</span><br>
		<input type="text" class="form-control"  name="Postal" required>
		
	</div> 
	<div class="product">
		<span>Product or Service Category</span><br>
		<input type="text" class="form-control" placeholder="" required>
	</div>
	<div >
		<button class="Add">Add</button>

	</div>
	<div id="Area_of_ServiceShipping_Locati">
		<span>Area of Service/Shipping Location</span><br>
		<input type="text" class="form-control" name="Area" required>
	</div>
	<div id="Total_Turnover">
		<span>Total Turnover</span><br>
		<input type="text" class="form-control" name="Total_Turnover" required>
	</div>
	<div id="Number_of_Employees">
		<span>Number of Employees</span><br>
		<input type="text" class="form-control" name="Employees" required>

	</div>
	<!--svg class="Rectangle_7">
		<rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<<svg class="Rectangle_17">
		<rect id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="530" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_9">
		<rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_18">
		<rect id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="672" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_10">
		<rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_19">
		<rect id="Rectangle_19" rx="0" ry="0" x="0" y="0" width="672" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_22">
		<rect id="Rectangle_22" rx="0" ry="0" x="0" y="0" width="672" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_11">
		<rect id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_12">
		<rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_13">
		<rect id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_14">
		<rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="413" height="52">
		</rect>
	</svg>
	<svg class="Rectangle_15">
		<rect onclick="application.goToTargetView(event)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="154" height="51">
		</rect>
	</svg>
	<svg class="Rectangle_23">
		<rect id="Rectangle_23" rx="0" ry="0" x="0" y="0" width="122" height="50">
		</rect>
	</svg> -->
	
	<div>
 <button id="Next" type="submit">Next</button>

	</div>
</form>
	<!-- <svg class="Line_1" viewBox="0 0 1 570">
		<path id="Line_1" d="M 0 0 L 0 570">
		</path>
	</svg> -->
</div>
</body>
</html>