<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Supplier Registration - Adminstrator Account</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="login2.component.css"/>
</head>
<body>
<div id="Supplier_Registration_-_Adminstrator_Account">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="152">
		</rect>
	</svg>
    <img class="logo" src="./assets/Logo/logo.png">		
	<div id="Create_your_company_account">
		<span>Create your company account</span>
	</div>
	<div id="Administration_Details">
		<span>Administration Details</span>
	</div>
	<form [formGroup]="regsupplier" (ngSubmit)="registrationUser()"></form>
	<div id="First_Name">
		<span>First Name</span><br>
		<input type="text" class="form-control" placeholder="First Name" required>
	</div>
	<div id="Last_Name">
		<span>Last Name</span><br>
		<input type="text" class="form-control" placeholder="Last Name" required>
	</div>
	<div id="Email">
		<span>Email</span><br>
		<input type="text" class="form-control" placeholder="Enter Email" required>
	</div>
	<div id="Mobile_">
		<span>Mobile </span><br>
		<input type="text" class="form-control" placeholder="Enter Mobile" required>
	</div>
	<div id="Designation">
		<span>Designation</span><br>
		<input type="text" class="form-control" placeholder="Enter Designation" required>
	</div>
	<div id="Password">
		<span>Password</span><br>
		<input type="password" class="form-control" placeholder="password" required>
	</div>
	<div id="Re-enter_Password">
		<span>Re-enter Password</span><br>
		<input type="password" class="form-control" placeholder="password" required>
	</div>
	<div id="pcity">
		<span>city</span><br>
		<input type="text" class="form-control" placeholder="city" required>
	</div>
	<div id="qcountry">
		<span>Country</span><br>
		<input type="text" class="form-control" placeholder="country" required>
	</div>
	<div id="pzipcode">
		<span>Zipcode</span><br>
		<input type="text" class="form-control" placeholder="zipcode" required>
	</div>
	<div id="qusername">
		<span>Username</span><br>
		<input type="text" class="form-control" placeholder="username" required>
	</div>
	<div id="pmiddle">
		<span>Middle Name</span><br>
		<input type="text" class="form-control" placeholder="middlename" required>
	</div>
	<div id="I_have_read_and_agree_with_the">
		<span>I have read and agree with the Terms of Use</span>
	</div>
	<!-- <svg class="Rectangle_15">
		<rect onclick="application.goToTargetView(event)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="154" height="51">
		</rect>
	</svg> -->
	<div>
		<a > <span class="login" type="submit">Submit</span> </a>
	</div>
	<div id="Add">
		<span>Add</span>
	</div>
	<svg class="Rectangle_16_bd">
		<linearGradient id="Rectangle_16_bd" spreadMethod="pad" x1="1.052" x2="-2.642" y1="0.183" y2="0.306">
			<stop offset="0" stop-color="#1400ff" stop-opacity="1"></stop>
			<stop offset="0" stop-color="#3900ff" stop-opacity="1"></stop>
			<stop offset="0.2762" stop-color="#2a0f98" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_16_bd" rx="20" ry="20" x="0" y="0" width="754" height="681">
		</rect>
	</svg>
	<!-- <div id="n_1">
		<span>+91</span>
	</div> -->
	<div id="Welcome_to_Metics_">
		<span>Welcome to Metics </span>
	</div>
	<div id="Redefining_business_comfort">
		<span>Redefining business comfort</span>
	</div>
	<div id="Make_your_digital_presence_sta">
		<span>Make your digital presence standout with our<br/>unshakeable partner network </span>
	</div>
	<div id="Grow_exponentially_with_Metics">
		<span>Grow exponentially with Metics Hub stretching to <br/>new horizons and global network</span>
	</div>
	<div id="Always_partner_first_approach_">
		<span>Always partner first approach serves you with <br/>un-beatable growth and customer support .</span>
	</div>
	<svg class="Ellipse_1">
		<ellipse id="Ellipse_1" rx="4.5" ry="4.5" cx="4.5" cy="4.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_2">
		<ellipse id="Ellipse_2" rx="4.5" ry="4.5" cx="4.5" cy="4.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_3">
		<ellipse id="Ellipse_3" rx="4.5" ry="4.5" cx="4.5" cy="4.5">
		</ellipse>
	</svg>
	<div id="Learn_More">
		<span>Learn More</span>
	</div>
</div>
</body>
</html>