.mediaViewInfo {
	--web-view-name: Supplier Registration - Adminstrator Account;
	--web-view-id: Supplier_Registration_-_Adminstrator_Account;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Supplier_Registration_-_Adminstrator_Account;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Supplier_Registration_-_Adminstrator_Account {
	position: absolute;
	width: 1920px;
	height: 1029px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Supplier Registration - Adminstrator Account;
	--web-view-id: Supplier_Registration_-_Adminstrator_Account;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 152px;
	left: 0px;
	top: 0px;
}
#Asset_24x {
	position: absolute;
	width: 227px;
	height: 66px;
	left: 61px;
	top: 43px;
	overflow: visible;
}
#Create_your_company_account {
	left: 88px;
	top: 200px;
	position: absolute;
	overflow: visible;
	width: 463px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(36,0,255,1);
}
#First_Name {
	left: 88px;
	top: 357px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(3,3,3,1);
}
#Administration_Details {
	left: 88px;
	top: 295px;
	position: absolute;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#Last_Name {
	left: 543px;
	top: 355px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Email {
	left: 88px;
	top: 455px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Mobile_ {
	left: 88px;
	top: 557px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Designation {
	left: 88px;
	top: 663px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Password {
	left: 88px;
	top: 765px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Re-enter_Password {
	left: 569px;
	top: 765px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_7 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 52px;
	left: 88px;
	top: 389px;
}
#Rectangle_9 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 52px;
	left: 543px;
	top: 387px;
}
#Rectangle_10 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 52px;
	left: 88px;
	top: 487px;
}
#Rectangle_11 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 309px;
	height: 52px;
	left: 192px;
	top: 589px;
}
#Rectangle_24 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 52px;
	left: 88px;
	top: 589px;
}
#Rectangle_12 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 52px;
	left: 86px;
	top: 695px;
}
#Rectangle_13 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 52px;
	left: 88px;
	top: 797px;
}
#Rectangle_14 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 52px;
	left: 569px;
	top: 797px;
}
#Icon_ionic-ios-checkbox {
	fill: rgba(0,59,255,1);
}
.Icon_ionic-ios-checkbox {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 27px;
	left: 1080px;
	top: 940px;
	transform: matrix(1,0,0,1,0,0);
}
#I_have_read_and_agree_with_the {
	left: 1131px;
	top: 937px;
	position: absolute;
	overflow: visible;
	width: 465px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(113,111,128,1);
}
#Rectangle_15 {
	fill: rgba(3,32,255,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 154px;
	height: 51px;
	left: 1697px;
	top: 929px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Verification.html;
	cursor: pointer;
}
#Submit {
	left: 1729px;
	top: 937px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Login {
	left: 444px;
	top: 665px;
	position: absolute;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
    /* color: rgba(36,0,255,1); */
}

#Add {
	left: 1712px;
	top: 447px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Rectangle_16_bd {
	fill: url(#Rectangle_16_bd);
}
.Rectangle_16_bd {
	position: absolute;
	overflow: visible;
	width: 754px;
	height: 681px;
	left: 1080px;
	top: 204px;
}
#n_1 {
	left: 98px;
	top: 597px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Welcome_to_Metics_ {
	left: 1136px;
	top: 287px;
	position: absolute;
	overflow: visible;
	width: 350px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Redefining_business_comfort {
	left: 1136px;
	top: 347px;
	position: absolute;
	overflow: visible;
	width: 314px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Make_your_digital_presence_sta {
	left: 1156px;
	top: 446px;
	position: absolute;
	overflow: visible;
	width: 502px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Grow_exponentially_with_Metics {
	left: 1156px;
	top: 552px;
	position: absolute;
	overflow: visible;
	width: 553px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Always_partner_first_approach_ {
	left: 1156px;
	top: 653px;
	position: absolute;
	overflow: visible;
	width: 506px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 1122px;
	top: 475px;
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 1122px;
	top: 576px;
}
#Ellipse_3 {
	fill: rgba(255,255,255,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 9px;
	left: 1122px;
	top: 677px;
}
.logo {
	position: absolute;
	width: 227px;
	height: 66px;
	left: 61px;
	top: 43px;
	overflow: visible;
}
#Learn_More {
	left: 1629px;
	top: 816px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}