<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Verification</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="emailverify.component.css"/>
</head>
<body>
    <div id="Verification" >
        <svg class="Rectangle_1">
            <rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="152">
            </rect>
        </svg>
        <img class="logo" src="./assets/Logo/logo.png">	
        <img class="emailLogo" src="./assets/email.png">	
		
	<svg class="Rectangle_15">
		<rect id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="154" height="51">
		</rect>
	</svg>
	<div id="Welcome_On_boardADMIN_NAME">
        <span>Welcome On board</span>
	</div>
    <div id="We_are_really_excited_to_have_">
        <span>We are really excited to have you as our partner</span>
    </div>
	<div id="Please_verify_the_confirmation">
        <span>Please verify the confirmation mail sent to you on <br/>your registered mail address</span>
	</div>
    
    <div id="Resend">
        <span>Resend</span>
    </div>
</div>
</body>
</html>